<div class="container-fluid">
  <div class="card card documents-card">
    <h4 class="card-header">My profile</h4>
    <div class="card-body">

      <div class="row">
        <div *ngIf="userDetails.imageUrl" class="col col-lg-2">
          <div>
            <img class="images" src="{{userDetails.imageUrl}}"/>
          </div>
        </div>

        <div class="col">
          <div>Name</div>
          <h5>{{userDetails.name}}</h5>

          <div>Email</div>
          <h5>{{userDetails.email}}</h5>

          <div [ngSwitch]="userDetails.provider">Provider
            <h5 *ngSwitchCase="'local'">Standard authentication</h5>
            <h5 *ngSwitchCase="'google'">Google</h5>
            <h5 *ngSwitchCase="'facebook'">Facebook</h5>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
