<div>
  <button type="button" class="btn btn-primary" (click)="openModal(content)">
    New document
  </button>
</div>

<app-all-documents-list></app-all-documents-list>
<!--<app-new-document-modal #content (newDocumentEmitter)="onSubmit($event)"></app-new-document-modal>-->

<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Enter the title of new document</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal(modal)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="documentData" (ngSubmit)="onSubmit(modal)">
    <div class="modal-body">
      <div class="form-group">
        <input formControlName="title"
               class="form-control"
               placeholder="Title"
               [ngClass]="{'is-invalid': isSubmitted && documentData.errors}"/>
        <div *ngIf="documentData.errors" class="invalid-feedback">
          Title can't be empty
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal(modal)">Cancel</button>
      <div class="form-group">
        <button class="btn btn-primary">Create</button>
      </div>
    </div>
  </form>
</ng-template>

