<div>
  <div class="btn-group me-2" role="group">
    <button class="btn btn-secondary" (click)="openModal(content)">Back</button>
  </div>
  <div class="btn-group me-2" role="group">
    <button class="btn btn-primary" (click)="download()">Download PDF</button>
  </div>
</div>

<div class="text-center">
  <h3>{{document.title}}</h3>
</div>

<div class="text-center">
  <button class="btn btn-success" [keyboardShortcut]="saveKeyboardShortcutDef" (click)="recompile()">
    Recompile
  </button>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="pre-scrollable">
        <form [formGroup]="sourceCode">
          <textarea class="form-control" rows="30" formControlName="text"
                    [(ngModel)]="sourceCode.value.text"></textarea>
        </form>
      </div>
    </div>
    <div class="col pre-scrollable">
<!--      <div *ngIf="loading" class="spinner-border" role="status">-->
<!--        <span class="sr-only">Loading...</span>-->
<!--      </div>-->
<!--      <div *ngIf="!loading">-->
      <div>
        <div *ngFor="let generatedPage of this.generatedDocument.generatedPages; let i = index">
          <img class="image-holder border" style="max-width:100%; max-height: 100%" [src]=convertPage(generatedPage) />
        </div>
      </div>
    </div>
    <div class="col">
      <div>
        <h5 class="img-upload text-center">Upload images</h5>
        <input type="file" class="form-control img-upload" (change)="onFileChanged($event)" multiple="multiple"
               accept="image/png, image/gif, image/jpeg">
      </div>
      <div class="pre-scrollable">
        <div class="card">
          <h5 class="card-header text-center">Uploaded images</h5>
          <div class="card-body">
            <ul *ngFor="let image of images" class="list-group list-group-flush">
              <li class="list-group-item card-body">
                <label>{{image.name}}</label>
                <img class="images" src="{{convertImage(image)}}"/>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal(modal)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">Do you want to save changes?</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="saveSourceCodeAndExit(modal)">Yes</button>
    <button class="btn btn-secondary" (click)="closeModal(modal); backToMainPage()">No</button>
    <button class="btn btn-info" (click)="closeModal(modal)">Cancel</button>
  </div>
</ng-template>
