textarea {
  width: 100%;
  resize: none;
  overflow: hidden;
}

img {
  width: 100%;
  max-width: 250px;
  height: auto;
}

.pre-scrollable {
  max-height: 75vh;
  overflow-y: scroll;
}

.btn-secondary {
  margin-left: 10px;
}

.card {
  margin-bottom: 20px;
}

.img-upload {
  margin-bottom: 10px;
}
